---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import 'variables';
@import 'media-queries';
@import 'basscss';

@import 'base';
@import 'clearfix';
@import 'positions';

@import 'header';
@import 'footer';
@import 'pages';
@import 'posts';

@import 'projects';
@import 'profile';
@import 'pagination';
@import 'publications';

@import 'blockquotes';
@import 'code';
@import 'gallery';
@import 'gists';
@import 'links';
@import 'measure';

@import 'social-icons';
@import 'tables';
@import 'typography';

/* Basscss Color Base */
body { color: #bbddbe; background-color: #34393e; }

a { color: #47646a; text-decoration: none; }

a:hover { text-decoration: underline; }

pre, code { background-color: #eee; border-radius: 3px; }

hr { border: 0; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #ccc; }

.site-header { border-bottom: 1px solid #bbddbe; background-color: #34393e; position: fixed; left: 0px; top: 0px; width: 100%; z-index: 50; }

.site-title { font-size: 20px; line-height: 56px; letter-spacing: -1px; margin-bottom: 0; color: #87adb6;}

.site-nav { float: right; line-height: 56px; }
.site-nav .nav-trigger { display: none; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { line-height: 1.5; color: #bbddbe}
.site-nav .page-link:not(:first-child) { margin-left: 10px; }
@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 25px; background-color: white; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; }
  .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg path { fill: #424242; }
  .site-nav input ~ .trigger { clear: both; display: none; }
  .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 10px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; } }

.header-bar { border-bottom: 1px solid #ccc; font-size: 20px; display: block; opacity: 0.75; width: 100%; text-align: center; padding-top: 25px; padding-bottom: 4rem; line-height: 3em; z-index: 25; }
.header-bar h1 { color: #47646a; font-size: 75px; }
.header-bar h2 { font-size: 25px; }

.site { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }

.site-wrap { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; }

footer { background-color: #424242; border-top: thin solid #424242; color: #bbddbe; font-size: 0.75rem; font-weight: 300; padding: 0.5rem; position: fixed; left: 0px; bottom: 0px; width: 100%; }
footer a { color: #B39BAC; }
footer a:hover { color: #47646a; }


.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; margin-bottom: 10px; margin-top: 0; color: #87adb6;}

.post-content {color: #bbddbe;}
.post-content p {color: #87adb6;}
.post-content h2 { font-size: 42px; }
.post-content h3 { font-size: 30px; }
.post-content h4 { font-size: 20px; }
.post-content a { color: #B39BAC; }

.post-meta { color: #87adb6; font-size: 0.875rem; margin-bottom: 0px; }
.post-description {color: #bbddbe;}
.post-description a {color: #B39BAC;}
.post-link { display: block; font-size: 42px; }

code { color: #bbddbe; font-size: 85%; padding-bottom: 0.1em; padding-left: 0.2em; padding-right: 0.2em; padding-top: 0.1em; background-color: #424242; }
