<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        I am a 5th-year Ph.D. Candidate in the <a href="https://carlsonschool.umn.edu/departments/information-decision-sciences-department" target="_blank">Department of Information and Decision Sciences</a> at <a href="https://carlsonschool.umn.edu/" target="_blank">Carlson School of Management</a>, <a href="https://twin-cities.umn.edu/" target="_blank">University of Minnesota</a>. <br/> 
        
        <div class="home">
         <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profilepic"
          /> 
          {{ content }}
        </div>
      </div>
    </div>
  {% include foot.html %}
  </body>
</html>
