<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <!-- <p>Ph.D. Candidate, Department of Information & Decision Sciences, University of Minnesota<br/>  -->
        
        <div class="home">
         <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profilepic"
          /> 
          {{ content }}
        </div>
      </div>
    </div>
  {% include foot.html %}
  </body>
</html>
