<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p>Ph.D. Candidate, Department of Information & Decision Sciences, University of Minnesota<br/> 
          <a href="https://www.dropbox.com/s/d9hlmu7lktpdh3k/CV.pdf?dl=0" target="_blank">Curriculum Vitae</a><br/>
          Email: <a href="mailto:zhou0793@umn.edu" target="_blank">zhou0793[at]umn.edu</a>
          Scholar Page: <a href="https://scholar.google.com/citations?user=E28GeEIAAAAJ&hl=en&authuser=1" target="_blank">Google Scholar</a>
          SSRN Page: <a href="https://privpapers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=4277569" target="_blank">SSRN</a>
        
        <div class="home">
         <img
            src="{{ page.profile_picture.src | absolute_url }}"
            alt="{{ page.profile_picture.alt }}"
            class="profilepic"
          /> 
          {{ content }}
        </div>
      </div>
    </div>
  {% include foot.html %}
  </body>
</html>
